{
  "*.{ts,tsx,js,jsx}": ["pnpm run lint:eslint"],
  "*.{css,less,scss,sass}'": ["pnpm run lint:stylelint"],
  "*.{ts,tsx,js,jsx,json,html,yml,json,css,less,scss,sass,md}": [
    "prettier --write"
  ]
}
